@use '../../../../../styles/variables' as *;

.featured-categories {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  gap: $spacing-lg;

  &--stacked {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  @include is-tablet {
    grid-template-columns: 2fr 1fr 1fr;
  }
}
