@use '../../../../../styles/variables' as *;

.nav-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;

  &__icon {
    height: 16px;
    width: 16px;
    color: $color-primary;
    cursor: pointer;
    transition: $transition-default;

    &:hover {
      color: $color-hover;
    }
  }

  @include is-tablet {
    flex-direction: row;
  }
}
