@use '../../styles/variables' as *;

.banner {
  display: none;

  @include is-tablet {
    display: block;
    background-color: $color-dark-background;
    color: $color-light-text;

    &__container {
      display: flex;
      justify-content: center;
    }

    &__column {
      display: flex;
      flex: 1;
      align-items: center;
      gap: $spacing-md;

      h6 {
        font: $font-heading-h6;
      }

      &--left {
        justify-content: flex-start;

        div {
          display: flex;
          gap: $spacing-xs;

          small {
            font: $font-small;
          }
        }
      }

      &--center {
        justify-content: center;
      }

      &--right {
        justify-content: flex-end;
      }
    }

    &__icon {
      width: $size-banner-icon;
      height: $size-banner-icon;
    }
  }
}

.navbar {
  background-color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font: $font-heading-h3;

    a {
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__nav {
    display: flex;
    gap: $spacing-md;

    &__icon {
      height: 16px;
      width: 16px;
      color: $color-primary;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $color-hover;
      }
    }
  }
}
