@use '../../styles/variables' as *;

.header {
  background-color: $color-light-gray-1;
}

.banner {
  display: none;

  @include is-tablet {
    display: block;
    background-color: $color-dark-background;
    color: $color-light-text;

    &__container {
      display: flex;
      justify-content: center;
    }

    &__column {
      display: flex;
      flex: 1;
      align-items: center;
      gap: $spacing-md;

      h6 {
        font: $font-heading-h6;
      }

      &--left {
        justify-content: flex-start;

        div {
          display: flex;
          gap: $spacing-xs;

          small {
            font: $font-small;
          }
        }
      }

      &--center {
        justify-content: center;
      }

      &--right {
        justify-content: flex-end;
      }
    }

    &__icon {
      width: $size-banner-icon;
      height: $size-banner-icon;
    }
  }
}
