@use '../../../styles/variables' as *;

.content {
  flex-grow: 1;
  gap: $spacing-sm;

  &__footer {
    margin-top: auto;
    &__btn {
      display: flex;
      align-items: center;
      padding: $spacing-sm $spacing-md;
    }
  }
}
