@use '@/styles/_variables' as *;

.tabs {
  &__triggers {
    display: flex;
    gap: $spacing-lg;
    padding-block: $spacing-lg;
    justify-content: center;

    button {
      font: $font-tab;
      color: $color-second-text;
      position: relative;
      transition: $transition-default;

      &[data-state='active'] {
        font-weight: $font-weight-semi-bold;
        text-decoration: underline;
      }
    }
  }

  &__contents {
    opacity: 0;
    &[data-state='active'] {
      animation: fade-in 0.3s ease-out forwards;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}
