@use '../../styles/variables' as *;

.container {
  width: 100%;
}

.card {
  &:hover .thumbnail__icons {
    opacity: 1;
  }

  &__thumbnail-skeleton {
    height: $size-card-thumbnail;
  }

  &__content-skeleton {
    height: $spacing-lg;
    border-radius: $radius-sm;

    &--button {
      height: $spacing-2xl;
    }
  }

  &__content {
    justify-content: center;
    flex-grow: 1;
    gap: $spacing-sm;

    &__footer {
      &__btn {
        display: flex;
        align-items: center;
        padding: $spacing-sm $spacing-md;
      }
    }
  }
}
