@use '../../../../styles/variables' as *;
@use '../../styles/section-layouts.module.scss' as *;

.container {
  @include section-container;
}

.header {
  @include section-header;
  h4 {
    font: $font-heading-h4;
    color: $color-second-text;
  }
}

.top-rated-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($size-card-width, 1fr));
  justify-items: center;
  gap: $spacing-xl;
}
