@use '../../styles/variables' as *;

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: $shadow-card;
  height: 100%;

  &__thumbnail {
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
      width: auto;
      height: $size-card-thumbnail;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-lg;
  }
}
