@use '../../styles/variables' as *;

.shop {
  &__header {
    background-color: $color-light-gray-1;
  }

  &__products {
    &__header {
      padding-block: $spacing-lg;

      h6 {
        color: $color-second-text;
        font: $font-heading-h6;
        text-align: center;

        @include is-tablet {
          text-align: start;
        }
      }
    }
  }
}
