@use '@/styles/variables' as *;

.select {
  &__trigger {
    width: $size-btn-width;
    height: $size-btn-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-100;
    gap: $spacing-md;
    border: $border-select;
    color: $color-second-text;
    font: $font-select;
    cursor: pointer;
    border-radius: $spacing-sm;

    &[data-state='open'] {
      border-radius: $spacing-sm $spacing-sm 0 0;
    }

    &:hover,
    &:focus {
      border: $border-select-focus;
      outline: none;
    }
    &__icon {
      display: flex;
      align-items: center;
    }
  }

  &__option {
    @extend .select__trigger;
    border-radius: 0;
    &:last-child {
      border-radius: 0 0 $spacing-sm $spacing-sm;
    }
  }
}
