@use '../../../../../styles/variables' as *;

.featured-categories-item {
  position: relative;
  overflow: hidden;
  &__img {
    display: block;
    width: 100%;
    height: $size-section-image;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;

    &--stacked {
      height: calc(($size-section-image - $spacing-lg) / 2);
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  figcaption {
    position: absolute;
    bottom: $spacing-lg;
    left: $spacing-md;
    background-color: $color-light-background;
    padding: $spacing-sm;
    font: $font-heading-h5;
    color: $color-text;
    text-transform: uppercase;
  }
}
