@use '../../../../styles/variables' as *;

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font: $font-heading-h3;

    a {
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__burguer {
    color: $color-second-text;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-md;

    &__icon {
      height: 16px;
      width: 16px;
      color: $color-primary;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $color-hover;
      }
    }
  }
}
