@use '@/styles/variables' as *;

.categories {
  padding: $spacing-lg 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-md;

  @include is-tablet {
    grid-template-columns: repeat(5, 1fr);
  }

  &__item {
    cursor: pointer;
    transition: $transition-default;

    &:hover {
      opacity: 0.8;
    }

    &__button {
      width: 100%;
      height: 100%;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
