@use '../../../../styles/variables' as *;

.heroBanner {
  background-color: $color-dark-background;
  color: $color-light-text;
  height: 360px;

  &__container {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font: $text-heading-h1;
  }
}
