@use '../../../../styles/variables' as *;

.category-card {
  background-color: $color-secondary-1;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-light-text;

  @include is-tablet {
    height: 224px;
  }

  &__text {
    text-transform: uppercase;
    font: $font-heading-h5;
  }
}
