@use '../../../../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  padding-block: $spacing-3xl;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  text-align: center;

  h3 {
    font: $font-heading-h3;
    color: $color-text;
    text-transform: uppercase;
  }

  p {
    font: $font-paragraph;
    color: $color-second-text;
    padding-inline: $spacing-md;
  }
}
