@use '@/styles/_variables' as *;

.not-found {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__link {
    cursor: pointer;
    transition: $transition-default;
    margin-top: 1rem;
    display: inline-block;
    color: #1e90ff;
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }
}
